
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.gitconfig
.local/
.mozilla/
.profile
.sudo_as_admin_successful
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.vim_mru_files
.viminfo
.xsession-errors
.xsession-errors.old
examples.desktop
work/

